@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
a{
  text-decoration:none;
  color:gray;
}
ul{
  list-style:none;
  padding:0;
}
.left-links li,.right-links li{
  margin:0 10px;
}
.header,.footer{
  display:flex;
  justify-content:space-between;
}
.footer{
  background: #eeeeee;
  margin-top:auto;
}
.left-links,.right-links{
  display:flex;
  justify-content: space-evenly;
}
body{
  display:flex;
  flex-flow:column nowrap;
}
.content{
  display:flex;
  align-items: center;
  flex-direction:column;
  justify-content: center;
  flex:1;
}
button{
  padding:10px;
}


